{% extends "base.html" %}

{% load static %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<div class="movie-description">
    <div class="movie-info">
        <h2>{{ movie.title }}</h2>
        <ul>
            <li>
                Год выхода: {{ movie.release_year }}
            </li>
            <li>
                Режиссер: {{ movie.director }}
            </li>
            <li>
                Язык: {{ movie.language }}
            </li>
            <li>
                Субтитры: {% if movie.subtitles %}{{ movie.subtitles }}{% else %}нет{% endif %}
            </li>
            <li>
                Возрастные ограничения:
                {% if movie.age_restriction %}{{ movie.age_restriction }}{% else %}нет{% endif %}
            </li>
            <li>
                Продолжительность: {{ movie.duration }} минут
            </li>
            <li>
                Кассовые сборы: {% if movie.box_office %}{{ movie.box_office }}{% else %}не известны{% endif %}
            </li>
            <li>
                Рейтинг: {% if rating %}{{ rating }}{% else %}не известен{% endif %}
            </li>
        </ul>
    </div>
{% if movie.poster %}
    <div class="movie-poster">
        <img src="{{  movie.poster }}" width="240px" />
    </div>
{% endif %}
{% if movie.description %}
    <div class="movie-summary">
        <p>{{ movie.description }}</p>
    </div>
{% endif %}
</div>

<div class="review-box">
    <div style="text-align: center;">
    {% if have_review %}
    <a href="{% url 'movies:edit_review' movie.movie_id %}">Редактировать обзор</a>
    <br/>
    <a href="{% url 'movies:delete_review' movie.movie_id %}">Удалить обзор</a>
    {% elif request.COOKIES.user_id %}
    <a href="{% url 'movies:edit_review' movie.movie_id %}">Написать обзор</a>
    {% endif %}
    </div>

    {% for review in reviews %}
    <div class="review">
        <p>Обзор пользователя <strong>{{ review.login }}</strong>:</p>
        <p>Оценка: <strong>{{ review.rating }}</strong></p>
        <p>
            {{ review.review }}
        </p>
    </div>
    {% endfor %}
</div>
{% endblock %}