{% extends "base.html" %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<div class="movie-info">
    <h2>{{ movie.title }}</h2>
    <p>
        <ul>
        <li>
            Год выхода: {{ movie.release_year }}
        </li>
        </ul>
    </p>
</div>

{% for review in reviews %}
<div class="review">
    <p>Обзор пользователя {{ review.display_name }}</p>
    <p>Оценка: {{ review.rating }}</p>
    <p>
        {{ review.review }}
    </p>
</div>
{% endfor %}
{% endblock %}