{% extends "base.html" %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<div class="movie-info">
    <h2>{{ movie.title }}</h2>
    <ul>
        <li>
            Год выхода: {{ movie.release_year }}
        </li>
        <li>
            Режиссер: {{ movie.director }}
        </li>
        <li>
            Язык: {{ movie.language }}
        </li>
        <li>
            Субтитры: {{ movie.subtitles }}
        </li>
        <li>
            Возрастные ограничения: {{ movie.age_restriction }}+
        </li>
        <li>
            Продолжительность: {{ duration_hours }}:{{ duration_minutes }}
        </li>
        <li>
            Кассовые сборы: {{ movie.box_office }}
        </li>
        <li>
            Рейтинг: {{ rating }}
        </li>
    </ul>
</div>

{% if have_review %}
<a href="{% url 'movies:edit_review' movie.movie_id %}">Редактировать обзор</a>
<br/>
<a href="{% url 'movies:delete_review' movie.movie_id %}">Удалить обзор</a>
{% elif request.COOKIES.user_id %}
<a href="{% url 'movies:edit_review' movie.movie_id %}">Написать обзор</a>
{% endif %}

{% for review in reviews %}
<div class="review">
    <p>Обзор пользователя {{ review.display_name }}</p>
    <p>Оценка: {{ review.rating }}</p>
    <p>
        {{ review.review }}
    </p>
</div>
{% endfor %}
{% endblock %}